@charset "UTF-8";

*{
    font-family: 'Times New Roman', Times, serif;
}

p{
    text-align: justify;
}

main{
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #1c21219d;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    text-align: center;
    color: #34999B;
    text-shadow: 1px 1px 2px #2b3333b0;
}



body{
    background-image: linear-gradient(to right ,#00EDEF, #21C2C5, #34999B);
    background-attachment: fixed;
}